@media screen and (max-width: 1080px){
    .main-slider{
        padding: 143px 60px 0;
    }
    .main-specialists{
        padding: 0 70px;
    }
}
@media screen and (max-width: 1024px){
    .main-slider .main-slider__content .main-slider__content-middle{
        flex-direction: column;
        align-items: center;
        padding: 0 60px;
    }
    .main-slider .main-slider__content .main-slider__content-middle .main-slider__content-icon{
        margin-right: 0;
        margin-bottom: 20px;
    }
    .main-slider .main-slider__content h3{
        margin-bottom: 15px;
    }
    .footer .footer-wrap{
        padding: 0 33px;
    }
    .main-slider .main-slider__content .main-slider__content-bottom{
        padding: 17px 58px 22px;
    }
    .solution .solution__tabs-wrap .solution__tabs-btn{
        max-width: 300px;
    }
    .header .header__content-wrap{
        padding: 19px 33px;
    }
    .main-specialists{
        margin-bottom: 200px;
    }
    .main-specialists .main-specialists__container{
        margin: 0 15px;
    }
    .hiring-services{
        padding: 100px 30px;
    }
}
@media screen and (max-width: 900px){
    .solution .solution__tabs-wrap .solution__tabs-btn{
        max-width: 220px;
        margin-right: 20px;
    }
    .solution .solution__tabs-wrap .solution__tabs-btn .solution__btn{
        padding: 0 36px;
    }
    .main-slider .main-slider__content .main-slider__content-bottom{
        padding: 17px 30px 22px;
        flex-direction: column;
    }
    .main-slider .main-slider__content .main-slider__content-bottom .main-slider__bottom-left{
        margin-right: 0;
        border-right: none;
        border-bottom: 1px solid rgba(255, 255, 255, 0.4);
        padding-right: 0;
        padding-bottom: 30px;
        margin-bottom: 30px;
    }
    .main-specialists {
        padding: 0 30px;
    }
    .main-specialists .main-specialists__container .main-specialists__avatar img{
        width: 80%;
        margin: 0 auto;
    }
    .main-specialists .main-specialists__container .main-specialists__name{
        top: 43%;
    }
    .main-specialists .main-specialists__container .main-specialists__position{
        font-size: 16px;
    }
    .main-specialists .main-specialists__container .main-specialists__exp{
        font-size: 14px;
    }
    .main-circle .main-circle__wrap{
        max-width: 400px;
    }
    .main-circle .main-circle__wrap .main-circle__heading{
        font-size: 30px;
    }
    .main-slider{
        padding: 100px 60px 0;
        margin-bottom: 100px;
    }
    .main-slider .main-slider__content{
        padding: 30px 0 0;
    }
    .marketplace{
        padding: 100px 60px 0;
    }
    .solution .solution__tabs-wrap .solution__tabs-content .solution__tab-img{
        margin-right: 20px;
    }
    .solution .solution__tabs-wrap .solution__tabs-content .solution__tab-img img{
        width: 100%;
    }
}
@media screen and (max-width: 768px){
    .solution .solution__tabs-wrap{
        flex-direction: column;
        align-items: center;
    }
    .solution .solution__tabs-wrap .solution__tabs-btn{
        flex-direction: row;
        max-width: 100%;
        margin-right: 0;
        padding-top: 0;
        margin-bottom: 10px;
    }
    .solution .solution__tabs-wrap .solution__tabs-btn .solution__btn:not(:last-of-type){
        margin-bottom: 0;
    }
    .solution .solution__tabs-wrap .solution__tabs-btn .solution__btn {
        padding: 10px;
        margin: 0 5px;
    }
    .main-slider .main-slider__content h3{
        font-size: 30px;
    }
    .main-slider .main-slider__content .main-slider__content-middle{
        padding: 0 30px;
        margin-bottom: 25px;
    }
    .main-slider{
        padding: 100px 30px 0;
    }
    .main-slider .main-slider__content .main-slider__content-bottom{
        padding: 15px 30px;
    }
    .main-slider .main-slider__content .main-slider__content-bottom .main-slider__bottom-left .heading{
        margin-bottom: 10px;
    }
    .main-slider .main-slider__content .main-slider__content-bottom .main-slider__bottom-left{
        margin-bottom: 15px;
        padding-bottom: 15px;
    }
    .main-slider .main-slider__content .main-slider__content-bottom .main-slider__bottom-right .heading{
        margin-bottom: 10px;
    }
    .top-bnr h1{
        font-size: 36px;
        line-height: 50px;
    }
    .main-specialists{
        margin-top: -55px;
    }
    .top-bnr .top-bnr__talent, .top-bnr .top-bnr__work{
        padding: 13px 17px;
    }
    .main-specialists .main-specialists__container .main-specialists__name{
        top: 40%;
    }
    .marketplace{
        padding: 66px 30px 0;
    }
    .solution .solution__heading{
        margin-bottom: 25px;
    }
    .marketplace .marketplace__content{
        padding: 64px 15px 80px;
    }
}