@media screen and (max-width: 1080px){
    .main-slider .wrap-first{
        padding: 143px 60px 0;
    }
    .main-slider__content-bottom-wrap {
        padding: 0 60px;
    }
    .main-specialists{
        padding: 0 70px;
    }
}
@media screen and (max-width: 1024px){
    .main-slider .wrap-first .main-slider__content .main-slider__content-middle{
        flex-direction: column;
        align-items: center;
        padding: 0 60px;
    }
    .main-slider .wrap-first .main-slider__content .main-slider__content-middle .main-slider__content-icon{
        margin-right: 0;
        margin-bottom: 20px;
    }
    .main-slider .wrap-first .main-slider__content h3{
        margin-bottom: 15px;
    }
    .footer .footer-wrap{
        padding: 0 33px;
    }
    .main-slider__content-bottom{
        padding: 17px 58px 22px;
    }
    .solution .solution__tabs-wrap .solution__tabs-btn{
        max-width: 300px;
    }
    .header .header__content-wrap{
        padding: 19px 33px;
    }
    .main-specialists{
        margin-bottom: 200px;
    }
    .main-specialists .main-specialists__container{
        margin: 0 15px;
    }
    .hiring-services{
        padding: 100px 30px;
    }
}
@media screen and (max-width: 900px){
    .solution .solution__tabs-wrap .solution__tabs-btn{
        max-width: 220px;
        margin-right: 20px;
    }
    .solution .solution__tabs-wrap .solution__tabs-btn .solution__btn{
        padding: 0 36px;
    }
    .main-slider__content-bottom{
        padding: 17px 30px 22px;
        flex-direction: column;
    }
    .main-slider__content-bottom .main-slider__bottom-left{
        margin-right: 0;
        border-right: none;
        border-bottom: 1px solid rgba(255, 255, 255, 0.4);
        padding-right: 0;
        padding-bottom: 30px;
        margin-bottom: 30px;
    }
    .main-specialists {
        padding: 0 30px;
    }
    .main-specialists .main-specialists__container .main-specialists__avatar img{
        width: 80%;
        margin: 0 auto;
    }
    .main-specialists .main-specialists__container .main-specialists__name{
        top: 43%;
    }
    .main-specialists .main-specialists__container .main-specialists__position{
        font-size: 16px;
    }
    .main-specialists .main-specialists__container .main-specialists__exp{
        font-size: 14px;
    }
    .main-circle .main-circle__wrap{
        max-width: 400px;
    }
    .main-circle .main-circle__wrap .main-circle__heading{
        font-size: 30px;
    }
    .main-slider .wrap-first{
        padding: 100px 60px 0;
    }
    .main-slider .wrap-first .main-slider__content{
        padding: 30px 0 0;
    }
    .marketplace{
        padding: 100px 60px 0;
    }
    .solution .solution__tabs-wrap .solution__tabs-content .solution__tab-img{
        margin-right: 20px;
    }
    .solution .solution__tabs-wrap .solution__tabs-content .solution__tab-img img{
        width: 100%;
    }
}
@media screen and (max-width: 768px){
    .solution .solution__tabs-wrap{
        flex-direction: column;
        align-items: center;
    }
    .solution .solution__tabs-wrap .solution__tabs-btn{
        flex-direction: row;
        max-width: 100%;
        margin-right: 0;
        padding-top: 0;
        margin-bottom: 10px;
    }
    .solution .solution__tabs-wrap .solution__tabs-btn .solution__btn:not(:last-of-type){
        margin-bottom: 0;
    }
    .solution .solution__tabs-wrap .solution__tabs-btn .solution__btn {
        padding: 10px;
        margin: 0 5px;
    }
    .main-slider .wrap-first .main-slider__content h3{
        font-size: 24px;
    }
    .main-slider .wrap-first .main-slider__content .main-slider__content-middle{
        padding: 0 30px;
        margin-bottom: 25px;
    }
    .main-slider .wrap-first{
        padding: 100px 30px 0;
    }
    .main-slider__content-bottom-wrap {
        padding: 0 30px;
    }
    .main-slider__content-bottom{
        padding: 15px 30px;
    }
    .main-slider__content-bottom .main-slider__bottom-left .heading{
        margin-bottom: 10px;
    }
    .main-slider__content-bottom .main-slider__bottom-left{
        margin-bottom: 15px;
        padding-bottom: 15px;
    }
    .main-slider__content-bottom .main-slider__bottom-right .heading{
        margin-bottom: 10px;
    }
    .top-bnr h1{
        font-size: 36px;
        line-height: 50px;
    }
    .main-specialists{
        margin-top: -55px;
    }
    .top-bnr .top-bnr__talent, .top-bnr .top-bnr__work{
        padding: 13px 17px;
    }
    .main-specialists .main-specialists__container .main-specialists__name{
        top: 40%;
    }
    .marketplace{
        padding: 66px 30px 0;
    }
    .solution .solution__heading{
        margin-bottom: 25px;
        font-size: 30px;
        line-height: 35px;
    }
    .marketplace .marketplace__content{
        padding: 64px 15px 80px;
    }
    .main-specialists .main-specialists__container{
        margin: 0;
    }
    .header .header__content-wrap{
        display: none;
    }
    .main-circle .main-circle__wrap{
        max-width: 300px;
    }
    .main-circle .main-circle__wrap .main-circle__heading{
        line-height: 34px;
        font-size: 24px;
    }
    .main-circle .main-circle__wrap .dot-remote::after, .main-circle .main-circle__wrap .dot-freelance::after, .main-circle .main-circle__wrap .dot-global::after, .main-circle .main-circle__wrap .dot-onsite::after, .main-circle .main-circle__wrap .dot-fulltime::after, .main-circle .main-circle__wrap .dot-local::after{
        font-size: 15px;
    }
    .main-circle .main-circle__wrap .dot-freelance{
        right: 3%;
    }
    .main-circle .main-circle__wrap .dot-local {
        left: 3%;
    }
    .main-circle .main-circle__wrap .dot-fulltime::after {
        width: 70px;
        left: -77px;
    }
    .main-circle .main-circle__wrap .dot-local::after{
        left: -54px;
    }
    .main-circle .main-circle__wrap .dot-remote::after{
        left: -19px;
    }
    .main-circle .main-circle__wrap .dot-freelance::after{
        left: 27px;
    }
    .main-circle .main-circle__wrap .dot-global::after{
        left: 25px;
    }
    .main-circle .main-circle__wrap .dot-onsite::after{
        top: 22px;
        left: -15px;
    }
    .solution{
        padding: 115px 30px 0;
    }
    .solution .solution__tabs-wrap .solution__tabs-content .solution__tab-text .big{
        font-size: 23px;
        line-height: 32px;
        margin-bottom: 10px;
    }
    .solution .solution__tabs-wrap .solution__tabs-content .solution__tab-text .small {
        font-size: 14px;
        line-height: 22px;
        margin-bottom: 15px;
    }
    .solution .solution__tabs-wrap .solution__tabs-content .solution__tab-text .btn{
        font-size: 13px;
        line-height: 19px;
        width: 157px;
        height: 44px;
    }
    .solution .solution__tabs-wrap .solution__tabs-content .solution__tab-img{
        max-width: 110px;
    }
    .solution .solution__tabs-wrap .solution__tabs{
        width: 100%;
    }
    .solution .solution__tabs-wrap .solution__tabs-content{
        width: 100%;
        justify-content: space-around;
    }
    .main-slider .wrap-first .main-slider__prev, .main-slider .wrap-first .main-slider__next{
        font-size: 30px;
        line-height: 30px;
    }
    .main-slider .wrap-first .main-slider__content .main-slider__content-middle .main-slider__content-text{
        font-size: 15px;
        line-height: 26px;
    }
    .marketplace .marketplace__content .marketplace__heading{
        font-size: 30px;
    }
    .marketplace .marketplace__content .marketplace__head-desr{
        font-size: 19px;
        line-height: 19px;
        margin-bottom: 25px;
    }
}
@media screen and (max-width: 600px){
    .main-specialists{
        flex-direction: column;
        align-items: center;
        margin-bottom: 100px;
    }
    .main-specialists .main-specialists__container{
        width: 100%;
    }
    .main-specialists .main-specialists__container:not(:last-of-type){
        margin-bottom: 20px;
    }
    .hiring-services{
        padding: 50px 30px;
    }
    .solution {
        padding: 50px 30px 0;
    }
    .solution .solution__tabs-wrap .solution__tabs-btn{
        flex-wrap: wrap;
    }
    .solution .solution__tabs-wrap .solution__tabs-btn .solution__btn{
        width: 45%;
        margin: 5px 5px 0 5px;
        font-size: 15px;
    }
    .top-bnr{
        padding: 90px 0 125px;
    }
    .top-bnr h1{
        font-size: 25px;
        line-height: 37px;
    }
    .top-bnr__btns{
        display: flex;
        flex-direction: column;
    }
    .top-bnr .top-bnr__talent{
        margin-right: 0;
        margin-bottom: 10px;
    }
    .main-circle .main-circle__wrap {
        max-width: 200px;
    }
    .main-circle .main-circle__wrap .dot-remote, .main-circle .main-circle__wrap .dot-freelance, .main-circle .main-circle__wrap .dot-global, .main-circle .main-circle__wrap .dot-onsite, .main-circle .main-circle__wrap .dot-fulltime, .main-circle .main-circle__wrap .dot-local{
        width: 10px;
        height: 10px;
    }
    .main-circle .main-circle__wrap .dot-remote::after, .main-circle .main-circle__wrap .dot-freelance::after, .main-circle .main-circle__wrap .dot-global::after, .main-circle .main-circle__wrap .dot-onsite::after, .main-circle .main-circle__wrap .dot-fulltime::after, .main-circle .main-circle__wrap .dot-local::after{
        font-size: 13px;
    }
    .main-circle .main-circle__wrap .dot-freelance::after{
        left: 14px;
    }
    .main-circle .main-circle__wrap .dot-local::after {
        left: -42px;
    }
    .main-circle .main-circle__wrap .dot-fulltime::after {
        left: -65px;
    }
    .main-circle .main-circle__wrap .dot-global::after {
        left: 15px;
    }
    .main-circle .main-circle__wrap .dot-onsite::after {
        top: 13px;
    }
    .hiring-services .hiring-services__content-wrap{
        margin-left: 40px;
    }
    .hiring-services .hiring-services__card{
        padding: 15px;
    }
    .solution .solution__heading{
        font-size: 25px;
        text-align: center;
    }
    .solution .solution__tabs-wrap .solution__tabs-content .solution__tab-text .big {
        font-size: 19px;
        line-height: 21px;
    }
    .solution .solution__tabs-wrap .solution__tabs-content{
        flex-direction: column;
        align-items: center;
    }
    .main-circle .main-circle__wrap .main-circle__heading {
        line-height: 27px;
        font-size: 20px;
    }
    .main-slider .wrap-first .main-slider__content h3 {
        font-size: 20px;
        text-align: center;
    }
    .main-slider__content-bottom .main-slider__bottom-left .img-wrap{
        justify-content: space-around;
    }
    .main-slider__content-bottom .main-slider__bottom-left .img-wrap img:first-child{
        margin-right: 0;
    }
    .main-slider__content-bottom .main-slider__bottom-right{
        align-items: center;
    }
    .marketplace .marketplace__content .marketplace__heading {
        font-size: 24px;
        text-align: center;
    }
    .marketplace .marketplace__content .marketplace__btns-box{
        flex-direction: column;
        align-items: center;
    }
    .marketplace .marketplace__content .marketplace__btns-box .contact_btn{
        margin-right: 0;
        font-size: 14px;
        margin-bottom: 10px;
    }
    .marketplace .marketplace__content .marketplace__btns-box .browse_btn{
        width: 192px;
        height: 52px;
        font-size: 14px;
    }
    .home-bottom-logo{
        max-width: 200px;
        margin: 0 auto 15px;
    }
    .home-bottom-logo svg{
        margin-left: 0;
    }
    .footer .footer-wrap .footer__top .footer__top-listbox{
        flex-direction: column;
    }
    .footer .footer-wrap .footer__top .footer__top-listbox .footer__top-list{
        margin-bottom: 10px;
    }
    .footer .footer-wrap .footer__top{
        padding: 40px 0;
    }
    .footer .footer-wrap .footer__bottom{
        flex-direction: column;
        align-items: flex-start;
    }
    .footer .footer-wrap .footer__bottom .footer__bottom-right{
        flex-direction: column;
    }
    .footer-text-links{
        margin-bottom: 10px;
    }
    .footer .footer-wrap .footer__bottom .footer__bottom-right .footer__bottom-terms{
        padding-right: 15px;
    }
    .footer .footer-wrap .footer__bottom .footer__bottom-right .footer__bottom-privacy{
        margin-right: 0;
    }
    .marketplace{
        padding: 0;
    }
    .marketplace .marketplace__content {
        padding: 64px 0 80px;
    }
    .marketplace .marketplace__content .marketplace__cards-box .marketplace__card{
        max-width: 142px;
    }
    .marketplace .marketplace__content .marketplace__cards-box .marketplace__card .marketplace__card-info .marketplace__card-stars{
        font-size: 12px;
    }
    .main-slider .wrap-first{
        padding: 100px 0 0;
    }
    .main-slider__content-bottom-wrap {
        padding: 0 0;
    }
    .main-slider__content-bottom{
        padding: 15px;
        width: calc(86% - 10px);
    }
    .main-slider__content-bottom .main-slider__bottom-left{
        text-align: center;
    }
    .main-slider__content-bottom .main-slider__bottom-right .img-wrap{
        flex-direction: column;
        justify-content: space-between;
        max-height: 192px;
        width: 100%;
    }
    .main-slider .wrap-first .main-slider__content{
        margin: 0 5px;
    }
    .main-slider {
        margin-bottom: 100px;
    }
    .main-slider .wrap-first .main-slider__prev, .main-slider .wrap-first .main-slider__next{
        font-size: 22px;
        line-height: 22px;
    }
}
@media screen and (max-width: 768px){
    .teammate-bnr h1{
        font-size: 40px;
        line-height: 50px;
    }
    .teammate-bnr .teammate-bnr__descr{
        margin-bottom: 30px;
    }
    .teammate-bnr{
        padding: 90px 30px;
    }
    .teammate-card{
        padding: 100px 30px;
    }
    .teammate-card .teammate-card__wrap .card-heading{
        font-size: 30px;
        line-height: 40px;
    }
    .teammate-card .teammate-card__wrap .card-descr{
        font-size: 18px;
        line-height: 27px;
    }
    .teammate-top{
        padding: 100px 30px;
    }
    .teammate-top .teammate-top__wrap .teammate-top__descr .teammate-top__descr-heading,
    .teammate-bottom .teammate-bottom__wrap .teammate-bottom__descr .teammate-bottom__descr-heading{
        font-size: 30px;
        line-height: 35px;
    }
    .teammate-top .teammate-top__wrap .teammate-top__descr .teammate-top__descr-link{
        font-size: 19px;
        line-height: 23px;
    }
    .teammate-top .teammate-top__wrap .teammate-top__descr .teammate-top__descr-link{
        padding: 24px;
        margin-bottom: 35px;
    }
    .teammate-top .teammate-top__wrap .teammate-top__descr .teammate-top__descr-text,
    .teammate-bottom .teammate-bottom__wrap .teammate-bottom__descr .teammate-bottom__descr-heading-text{
        font-size: 18px;
        line-height: 28px;
    }
    .teammate-bottom .teammate-bottom__wrap{
        margin: 0 auto 150px;
    }
    .teammate-btn .teammate-btn__wrap .teammate-btn__heading{
        font-size: 30px;
        line-height: 35px;
    }
    .teammate-btn .teammate-btn__wrap{
        padding: 60px 0;
    }
}
@media screen and (max-width: 600px){
    .teammate-card .teammate-card__wrap{
        padding: 60px 15px;
    }
    .teammate-card .teammate-card__wrap .card-heading {
        font-size: 28px;
        line-height: 35px;
    }
    .teammate-top .teammate-top__wrap{
        flex-direction: column;
        align-items: center;
    }
    .teammate-top .teammate-top__wrap .teammate-top__img-wrap{
        width: 100%;
        margin: 0 0 20px;
    }
    .teammate-top .teammate-top__wrap .teammate-top__descr{
        width: 100%;
        align-items: center;
    }
    .teammate-top .teammate-top__wrap .teammate-top__descr .teammate-top__descr-text, 
    .teammate-bottom .teammate-bottom__wrap .teammate-bottom__descr .teammate-bottom__descr-heading-text {
        text-align: center;
    }
    .teammate-top {
        padding: 100px 15px;
    }
    .teammate-card {
        padding: 100px 15px;
    }
    .teammate-bnr{
        padding: 90px 15px;
    }
    .teammate-bottom{
        padding: 100px 15px 0;
    }
    .teammate-bottom .teammate-bottom__wrap{
        flex-direction: column-reverse;
        align-items: center;
    }
    .teammate-bottom .teammate-bottom__wrap .teammate-bottom__img-wrap{
        margin-top: 0;
        margin-bottom: 20px;
        width: 100%;
    }
    .teammate-bottom .teammate-bottom__wrap .teammate-bottom__descr{
        width: 100%;
        margin-right: 0;
    }
    .teammate-bottom .teammate-bottom__wrap .teammate-bottom__descr .teammate-bottom__descr-heading{
        text-align: center;
    }
    .teammate-btn{
        padding: 0 15px;
    }
    .teammate-btn .teammate-btn__wrap .teammate-btn__heading{
        font-size: 23px;
        line-height: 30px;
    }
    .teammate-btn .teammate-btn__wrap .teammate-btn__btn{ 
        max-width: 200px;
        font-size: 14px;
    }
}


